
body {
	text-align: center;
	font-size: 12px;
	line-height: 18px;
}
body,a {
	color: #333;
}
p {
	padding-bottom: 10px;
}

.reset
{
	border: 1px solid black;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    /* padding-top: 9px; */
    width: 6%;
    background: black;
    /* color: white; */
    font-weight: bold;
    font-family: cursive;
    /* cursor: pointer; */
    border-radius: 6px;
    text-align: center;
}

.set{

	text-decoration: none;
	color: white;
	font-weight: bold;
	/* text-align: center; */
}

#my_style
{
	font-style: italic !important;
	font-weight: bolder !important ;
}
#wrapper {
	margin-top: 20px !important;
	text-align: left;
}
#comments,.comment {
	float: left;

}
#comments
{
	display: flex;
	margin-top: 10px;
}


.name {
	font-size: 11px;
	color: #999;
	font-style: italic;
	display: block;
	padding-bottom: 7px;
}
.comment {
	padding: 10px;
	margin: 10px;
	width: 25%;
	box-shadow: 2px 2px 4px black;
}

.comment:hover
{
	box-shadow: 4px 4px 4px black;
}
.comment p {
	padding: 0;
}
.flr {
	float: right;
}
.rateWrapper {
	float: left;
	padding-top: 10px;
	height: 24px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.rate,.rateDone {	
	display: block;
	float: left;	
	background: #fff;
	text-decoration: none;
	background-image: url('../images/sprite.png');
	background-repeat: no-repeat;
	font-weight: bold;
}
.rate {
	cursor: pointer;
}
.rateDone {
	cursor: default;
}
.rateUp {
	background-position: 0 0;
	border-top: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
	border-left: solid 1px #aaa;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	padding: 3px 10px 0 35px;
	height: 21px;
}
.rateDown {
	background-position: 0 -48px;
	border: solid 1px #aaa;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-bottomright: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	padding: 3px 10px 0 35px;
	height: 21px;
}
.rateUp:hover,.rateUp.active {
	background-position: 0 -24px;
}
.rateDown:hover,.rateDown.active {
	background-position: 0 -72px;
}